/* Globale styles her */
:root {
  --color-primary01-yellow: #ffcc4a;
  --color-primary02-green: #4eaf4e;
  --color-primary03-black: #181818;

  --color-secondary01-grey: #f5f5f5;
  --color-secondary02-white: #fff;

  --space-3xs: clamp(0.25rem, 0.2273rem + 0.1136vw, 0.3125rem); /* 0.25rem 0.3125rem */
  --space-2xs: clamp(0.5rem, 0.4545rem + 0.2273vw, 0.625rem); /* 0.5rem 0.625rem – gap:10px */
  --space-xs: clamp(0.75rem, 0.6818rem + 0.3409vw, 0.9375rem); /* 0.75rem 0.9375rem */
  --space-s: clamp(1rem, 0.9091rem + 0.4545vw, 1.25rem); /* 1rem 1.25rem - gap: 16px + 1rem*/
  --space-m: clamp(1.5rem, 1.3636rem + 0.6818vw, 1.875rem); /* 1.5rem 1.875rem - gap:30px*/
  --space-l: clamp(2rem, 1.8182rem + 0.9091vw, 2.5rem); /* 2rem 2.5rem */
  --space-xl: clamp(3rem, 2.7273rem + 1.3636vw, 3.75rem); /* 3rem 3.75rem – gap: 50px*/
  --space-2xl: clamp(4rem, 3.6364rem + 1.8182vw, 5rem); /* 4rem 5rem */
  --space-3xl: clamp(6rem, 5.4545rem + 2.7273vw, 7.5rem); /* 6rem 7.5rem */

  --paragraph: 1rem; /* 16px */
  --heading-6: clamp(1.2656rem, 1.1506rem + 0.5753vw, 1.582rem); /* 20px 25px */
  --heading-5: clamp(1.4238rem, 1.2944rem + 0.6472vw, 1.7798rem); /* 23px 30px */
  --heading-4: clamp(1.802rem, 1.6382rem + 0.8191vw, 2.2525rem); /* 29px 35px */
  --heading-3: clamp(2.0273rem, 1.843rem + 0.9215vw, 2.5341rem); /* 32px 40px */
  --heading-2: clamp(2.2807rem, 2.0734rem + 1.0367vw, 2.8509rem); /* 36px 45px */
  --heading-1: clamp(2.5658rem, 2.3325rem + 1.1663vw, 3.2072rem); /* 41px 50px */

  --letter-spacing: 2.32px;

  --content-width: 1000px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.16;
}

p {
  font-family: "Lato";
  font-size: var(--paragraph);
  line-height: 1.475;
  font-weight: 400;
  max-width: 65ch;
}

h1,
dt {
  font-size: var(--heading-1);
}

h2 {
  font-size: var(--heading-2);
}

h3 {
  font-size: var(--heading-3);
}

h4 {
  font-size: var(--heading-4);
}

h5 {
  font-size: var(--heading-5);
}

h6 {
  font-size: var(--heading-6);
}

h1,
h2,
h3,
h4,
h5,
dt {
  font-weight: 700;
}

h6 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--color-primary03-black);
}

.label {
  text-transform: uppercase;
  border-radius: 20px;
  justify-self: start;
  padding-block: 0.2rem;
  padding-inline: 1rem;
  letter-spacing: var(--letter-spacing);
  color: var(--color-primary03-black);
}
