---
import Services from "./Services.astro";
import Buttons from "./Buttons.astro";
---

<div class="hero_content">
    <div class="text">
        <h1>Empowering Your Business Growth</h1>
        <p>Discover tailored strategies and expert insights to take your business to the next level. Let us help you navigate challenges and achieve sustainable success.</p>
        <Buttons variant="tertiary">Book a Meeting</Buttons>
    </div>
    <div class="image_container">
      <img src="img/index_hero.jpg" alt="Image">
    </div>
</div>

<style>
 @layer components {
  .hero_content {
    grid-column: full;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 1rem;

    padding-inline-start: max(1rem, 50% - 1000px / 2);

    .text {
      margin-block: var(--space-2xl);
    }
     h1 {
      margin-block-end: var(--space-s);
     }

     .tertiary {
        margin-block-start: var(--space-m);
     }
     img {
      height: 500px;
      width: auto;
      object-fit: cover;
     }
  }
  @media (width < 800px) {
    .hero_content {
      display: flex;
      flex-direction: column;
    }
    img {
      display: none;
    }
  }
 }
</style>
