---

---
<article>
<div>
    <p class="label">Our team</p>
    <h2>We champion the bold to achieve the extraordinary</h2>
    <p>Our success stems from the synergy between dedicated teams and our valued clients. We prioritize a company culture that fosters exceptional productivity, ensures customer satisfaction, and promotes mutual respect among all team members.</p>
</div>
<div class="team">

</div>
</article>


<style>
    @layer components {
        article {
        margin-block: var(--space-2xl);
        }

        .label {
        background-color: var(--color-primary01-yellow);
        color: var(--color-primary03-black);
        }
    }
</style>