---
import Buttons from "./Buttons.astro";

//@ts-nocheck
const servicesData = await fetch(
  "https://frontend-design-theme.netlify.app/api/services"
).then((response) => response.json());

---

<ul role="list">
  {
    servicesData.services.map((service) => (
      <li>
        <h6>{service.title}</h6>
        <p>{service.description}</p>
        <Buttons variant="primary" href="#0">{service.buttonText}</Buttons>
      </li>
    ))
  }
</ul>

<style>
  @layer components {
    ul {
      display: flex;
      gap: var(--space-s);

      margin-block-start: calc(var(--space-2xl)* -1); 
      
      h6, p {
        color: var(--color-secondary02-white);
      }
    }

       @media (width < 1000px) {
    ul {
     display: grid;
      grid-template-columns: 1fr 1fr;

      margin-block-start: calc(var(--space-xl)* -1); 
    }
    }

     @media (width < 600px) {
    ul {
      display: grid;
      grid-template-columns: 1fr;
    }
    }
     li {
      display: flex;
      padding: 46px;
      flex-direction: column;
      justify-content: end;
      align-items: start;

      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.20);
      background: rgba(38, 38, 38, 0.90);
      backdrop-filter: blur(16px);

      .primary {
        margin-block-start: var(--space-m);
      }
     }
  }
</style>
